<div class="jumbotron m-3">
    <h1 class="display-4">Welcome to the Vehicle Gallery</h1>
    <hr class="my-3">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis sit amet ipsum sit amet bibendum. Vivamus in leo varius, pulvinar risus sodales, venenatis sem. Duis lacinia nec nunc eu tempor. Curabitur commodo ex id lectus faucibus, eu aliquam nisl convallis. Morbi eu quam turpis. Cras euismod ligula at pharetra aliquet. Aliquam rutrum dui felis, et vulputate sapien rhoncus vitae. Nullam faucibus sem libero, in mattis massa pharetra sit amet. Duis pulvinar mollis lorem, eu sagittis erat accumsan elementum. Praesent eget ex congue libero dictum ultricies vitae sit amet nisi. Cras lacinia, eros maximus dictum sodales, magna velit vestibulum libero, ac volutpat erat sem non nisi. Duis nec libero risus. Curabitur volutpat commodo vulputate. Nunc pharetra sagittis dolor, scelerisque tristique lorem placerat ac. Cras eros tellus, pellentesque tristique risus non, hendrerit tristique sapien.</p>
    <hr class="my-4">
    <p>CLICK the blue button to START or Aliquam facilisis sit amet ipsum sit amet bibendum.</p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/products']"  role="button">Browse the Gallery</a>
  </div>
